/* projects */
.project {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  aspect-ratio: 9 / 8.5;
}

.project-1 {
  background-image: url(../resources/croozefm.app.png);
}

.project-2 {
  background-image: url(../resources/field-therapist.app.png);
}

.project-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );
}

.project-caption h5 {
  font-weight: 500;
  color: var(--mg-light) !important;
}

.project-caption p {
  font-variant: small-caps;
  color: var(--mg-dark-gray) !important;
}

/* media picks */
.media-btn {
  width: max-content;
  color: var(--mg-light);
  background: var(--mg-teal);
  cursor: pointer;
}

.media-btn span {
  color: var(--mg-dark-gray);
  font-size: 0.8em;
  font-weight: 500;
}

.media-btn:hover span {
  color: var(--mg-light);
}

.pod {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.fixed-mg-Pos {
  background: transparent;
  z-index: 1000;
}

.scrollTop {
  display: none;
  background-color: var(--mg-complementary);
  border-color: var(--mg-dark-cyan) !important;
  color: var(--mg-light);
  cursor: pointer;
}

.scrollTop:hover {
  background-color: var(--mg-dark-cyan);
}
