/* navigation */
.navbar {
  height: 15vh !important;
  background: var(--mg-dark-cyan);
  border-bottom: 1px solid var(--mg-slate-gray);
}

.menuBtn {
  font-size: 20px;
  background: transparent !important;
}

.menu-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1040;
}

.menu-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.menu {
  background: var(--mg-complementary);
}

.menu-header {
  background: var(--mg-primary);
  border-bottom: 1px solid var(--mg-slate-gray);
  height: 15vh;
}

.menuClose {
  font-size: 18px;
  background: transparent !important;
}

.nav-link {
  color: var(--mg-light);
}

.mgbd-link {
  font-weight: 550;
  border-top: 1px solid var(--mg-dark-gray);
}

.nav-link:hover {
  color: var(--mg-dark-gray);
}

.navbar-offset {
  height: 15vh;
}

/* hero */
.hero h1 span {
  font-weight: 400;
  color: var(--mg-light-cyan);
}

.hero h1 a {
  font-size: 0.8em;
}

.hero-link {
  color: var(--mg-dark-gray);
  border-bottom: 1px solid var(--mg-dark-gray);
}

@media only screen and (max-width: 648px) {
  .navbar,
  .menu-header,
  .navbar-offset {
    height: 12vh !important;
  }
}

/* connect */
.connect-link {
  color: var(--mg-dark-gray);
  border-bottom: 1px solid var(--mg-dark-gray);
}

/* footer */
.footer-block {
  background: linear-gradient(to right, var(--mg-teal), var(--mg-dark-cyan));
  width: 95%;
  border-radius: 10px 10px 0 0;
}

.footer-tab {
  background: var(--mg-light-cyan);
  font-size: 0.9em;
  font-weight: 500;
}
