@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mg-teal: #006274;
  --mg-light-cyan: #05849b;
  --mg-dark-cyan: #0a3b52;
  --mg-primary: #141414;
  --mg-complementary: #343333;
  --mg-slate-gray: #737373;
  --mg-dark-gray: #a6a6a6;
  --mg-light: #fff;

  --mg-font-family: "Work Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--mg-light);
  background: var(--mg-primary);
  font-family: var(--mg-font-family);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-text {
  font-weight: 300;
  color: var(--mg-dark-gray);
}

.bold-text {
  font-weight: 400;
  color: var(--mg-dark-gray);
}

a {
  color: var(--mg-light);
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin: 5px;
  border: none;
  border-bottom: 2px solid var(--mg-slate-gray) !important;
  background: transparent !important;
}

input {
  font-family: var(--mg-font-family);
  color: var(--mg-light);
  background: transparent;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--mg-slate-gray);
}

input:focus,
input:active {
  outline: none;
}

button {
  font-family: var(--mg-font-family);
  color: var(--mg-light);
  background: var(--mg-complementary);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.custom-popover {
  --bs-popover-border-color: transparent;
  --bs-popover-bg: var(--mg-complementary) !important;
  --bs-popover-body-color: var(--mg-light) !important;
  --bs-popover-body-padding-x: 1em;
  --bs-popover-body-padding-y: 0.25em;
}

.custom-transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
